<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463933262309-2jj61i196voki9jsktfvbb348g4h7pio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463933262309-2jj61i196voki9jsktfvbb348g4h7pio</string>
	<key>API_KEY</key>
	<string>AIzaSyBDKM6aOmq2b5o0Y01vptwqyknJJBDF5Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>463933262309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e8c64</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e8c64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463933262309:ios:35e7faf8826b90d0ba070c</string>
</dict>
</plist>